src/conf/xml-resources/web-service-references/Soap/wsdl/localhost_8080/SOAP_PPT/Soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paquet/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://paquet/" name="Soap">
<types>
<xsd:schema>
<xsd:import namespace="http://paquet/" schemaLocation="http://localhost:8080/SOAP_PPT/Soap?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc"/>
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse"/>
</message>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador"/>
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse"/>
</message>
<message name="consultarEstatPartida">
<part name="parameters" element="tns:consultarEstatPartida"/>
</message>
<message name="consultarEstatPartidaResponse">
<part name="parameters" element="tns:consultarEstatPartidaResponse"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<portType name="Soap">
<operation name="iniciarJoc">
<input wsam:Action="http://paquet/Soap/iniciarJocRequest" message="tns:iniciarJoc"/>
<output wsam:Action="http://paquet/Soap/iniciarJocResponse" message="tns:iniciarJocResponse"/>
</operation>
<operation name="moureJugador">
<input wsam:Action="http://paquet/Soap/moureJugadorRequest" message="tns:moureJugador"/>
<output wsam:Action="http://paquet/Soap/moureJugadorResponse" message="tns:moureJugadorResponse"/>
</operation>
<operation name="consultarEstatPartida">
<input wsam:Action="http://paquet/Soap/consultarEstatPartidaRequest" message="tns:consultarEstatPartida"/>
<output wsam:Action="http://paquet/Soap/consultarEstatPartidaResponse" message="tns:consultarEstatPartidaResponse"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://paquet/Soap/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://paquet/Soap/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
</portType>
<binding name="SoapPortBinding" type="tns:Soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarEstatPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Soap">
<port name="SoapPort" binding="tns:SoapPortBinding">
<soap:address location="http://localhost:8080/SOAP_PPT/Soap"/>
</port>
</service>
</definitions>