web/WEB-INF/wsdl/localhost_8080/SOAP_PPT/Soap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://paquet/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://paquet/">

<xs:element name="acabarJoc" type="tns:acabarJoc"/>

<xs:element name="acabarJocResponse" type="tns:acabarJocResponse"/>

<xs:element name="consultarEstatPartida" type="tns:consultarEstatPartida"/>

<xs:element name="consultarEstatPartidaResponse" type="tns:consultarEstatPartidaResponse"/>

<xs:element name="iniciarJoc" type="tns:iniciarJoc"/>

<xs:element name="iniciarJocResponse" type="tns:iniciarJocResponse"/>

<xs:element name="moureJugador" type="tns:moureJugador"/>

<xs:element name="moureJugadorResponse" type="tns:moureJugadorResponse"/>

<xs:complexType name="moureJugador">
<xs:sequence>
<xs:element name="tipus" type="xs:int"/>
<xs:element name="jug" type="xs:string" minOccurs="0"/>
<xs:element name="codiPartida" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moureJugadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarJoc">
<xs:sequence>
<xs:element name="codiPartida" type="xs:int"/>
<xs:element name="jug1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarJocResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarEstatPartida">
<xs:sequence>
<xs:element name="codiPartida" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarEstatPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acabarJoc">
<xs:sequence>
<xs:element name="codiPartida" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acabarJocResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>